 <div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://unsplash.it/700/550/?random');">
  <div class="banner-content">
    <h1>Vangabond</h1>
    <p>Rent a unique car for your next roadtrip</p>

    <form action="#" class="form-inline">
    <input type="text" class="form-control input-lg" placeholder="Starting point" >
    <input type="text" class="form-control input-lg" placeholder="pickup" >
      <input type="text" class="form-control input-lg" placeholder="drop-off" >
      <select name id class="form-control input-lg">
        <option value="1">1 seat</option>
        <option value="2">2 seats</option>
        <option value="3">3 seats</option>
        <option value="4">4 seats</option>
        <option value="5">5 seats</option>
        <option value="6">6 seats</option>
        <option value="7">7 seats</option>
        <option value="8">8 seats</option>
        <option value="9">9 seats</option>
      </select>
      <input type="submit" class="btn btn-primary btn-lg" value="Search!">
    </form>
  </div>
</div>

<!-- Your cards code -->
<div class="wrapper-grey padded">
  <div>
    <h2 class="text-center">Suggestions</h2>
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-4">
              <!-- insert <div class="card"> -->

          <div class="card" style="background-image: linear-gradient(rgba(36,71,107,0.6),
          rgba(95,150,206,0.4)), url('https://unsplash.it/300/250/?random')">
            <div class="card-category">
              Portugal
            </div>
            <div class="card-description">
              <h2>Surf trip</h2>
              <p>Hit the beach in style</p>
            </div>
            <img class="card-user avatar" src="http://placehold.it/30x30">
            <a href="#" class="card-link"></a>
          </div>

        </div>
        <div class="col-xs-12 col-sm-4">
            <!-- insert <div class="card"> -->

          <div class="card" style="background-image: linear-gradient(rgba(36,71,107,0.6),
          rgba(95,150,206,0.4)), url('https://unsplash.it/300/250/?random')">
            <div class="card-category">
              Canada
            </div>
            <div class="card-description">
              <h2>Camping</h2>
              <p>Explore nature with your family fully equipped</p>
            </div>
            <img class="card-user avatar" src="http://placehold.it/30x30">
            <a href="#" class="card-link"></a>
          </div>

        </div>
        <div class="col-xs-12 col-sm-4">
          <!-- insert <div class="card"> -->

          <div class="card" style="background-image: linear-gradient(rgba(36,71,107,0.6),
          rgba(95,150,206,0.4)), url('https://unsplash.it/300/250/?random')">
            <div class="card-category">
              Australia
            </div>
            <div class="card-description">
              <h2>Adventure</h2>
              <p>Find the perfect van for the craziest trip</p>
            </div>
            <img class="card-user avatar" src="http://placehold.it/30x30">
            <a href="#" class="card-link"></a>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
