/* Footer design */
#footer {
  display: block;
  padding: 30px 20px;
  color: #8eccb2;
  // margin-top: 15px;
  padding: 80 30 80 30;
  height: 100px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position:  center;
}

#footer a {
  color: #8eccb2;
  letter-spacing: 20px;
  transition: color 0.2s ease;
}

#footer a:hover {
  color: #8ecab9;
}
