<h2 class="text-center">Edit your <%= @car.brand %> <%= @car.model%></h2>
<%= link_to 'Delete your van', @car, method: :delete, data: { confirm: 'Are you sure?' } %>

  <div class="container">
    <div class="row">
      <div class="col-xs-6 col-xs-offset-3">
      <div class="vangabond-form">
        <%= render 'form' %>
      </div>
    </div>
  </div>
</div>
